.searchSuggestions {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__text {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}